$layer1zIndex: 11;
$layer2zIndex: 12;
$layer3zIndex: 13;
$layer4zIndex: 13;

.logo {
  z-index: $layer3zIndex;
}
.statusControl {
  z-index: $layer2zIndex;
}
@keyframes flash {
  0%,100% { opacity: 1; }
  50% { opacity: 0.2; }
}
.blink {
  animation: flash 0.8s linear infinite;
}
@keyframes fadeOut {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}
.chatMessage {
  animation: fadeOut 5s linear 0s;
  animation-fill-mode: forwards;
  position: relative;
  display: inline-block;
  margin: 0.3rem 0;
  padding: 0.3rem;
  min-width: 120px;
  background: #DDDBDB;
  z-index: $layer1zIndex;
  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    margin-left: 5px;
    border: 15px solid transparent;
    border-bottom: 20px solid #DDDBDB;
  }
}

.chatBox {
  z-index: $layer2zIndex;
}

// ネタ
.rainbowC {
 animation: rainbow 5s infinite alternate;
}
@keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  14% {border-color: hsl(30,100%,50%);}
  28% {border-color: hsl(60,100%,50%);}
  42% {border-color: hsl(120,100%,50%);}
  56% {border-color:  hsl(240,100%,50%);}
  70% {border-color: hsl(280,100%,50%);}
  84% {border-color: hsl(320,100%,50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}


/* modal */
.userSettingModalOpenBtn {
  margin: 10px;
}
.userSettingModalCloseBtn {
  position: absolute;
  top: 2%;
  right: 2%;
}

.userSettingModal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  padding: 5%;
  background: rgba(220, 220, 220, 1);
  outline: none;

  .iconUrl {
    .inputUrl {
      width: 100%;
    }
    .fromGoogleIconBtn {
      text-align: right;
    }
    .submitUrl {
      text-align: right;
    }
  }
}

.userSettingModalOverlay {
  z-index: $layer4zIndex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .8);
}
